@import "~bootstrap/scss/bootstrap";
@import "theme";

.callout {
    width: 100%;
    border-left: 1rem solid;
    padding: 2rem;
}

.callout-info {
    background-color: $blue-400;
    border-left-color: $blue-500;
}
.callout-warning {
    background-color: $yellow-300;
    border-left-color: $yellow-500;
}
.callout-danger {
    background-color: $red-500;
    border-left-color: $red-600;
}
:root {
  --my-color: green
}

body {
  color: var(--my-color)
}

// Source mixin
@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

// Usage
.custom-container {
  @include make-container();
}
